<%- include("./layouts/header.ejs") %>
<div id="error-page">
  <h2><%= error.status %> | <%= error.message %></h2>
  <a href="/">&larr;Go back to main</a>
</div>
<%- include("./layouts/footer.ejs") %>
