<%- include("./layouts/header.ejs") %>
<div class="form-container">
  <h2>Sign in</h2>
  <form method="POST" action="/auth/login">
    <div class="form-input">
      <label for="email">Enter email</label>
      <input
        id="email"
        name="email"
        type="text"
        placeholder="email..."
        value="<%= locals.email ? email : '' %>"
      />
      <span class="error">error</span>
    </div>
    <div class="form-input">
      <label for="password">Enter password</label>
      <input
        id="password"
        name="password"
        type="password"
        placeholder="password..."
        value="<%= locals.password ? password : '' %>"
      />
      <span class="error">error</span>
    </div>

    <button type="submit">Sign in</button>
    <div class="sign-in">
      Don't have account? <a href="/auth/register">Sign Up</a>
    </div>
  </form>
</div>
<%- include("./layouts/footer.ejs") %>
